<style>
    div {}
</style>

<div style="display: flex;">
    <div style="">
        @if(foodList$ | async; as resultObject){
            <ul>
                @for (item of resultObject; track $index) {
                    <li>
                        <app-new-order-card [food]="item"></app-new-order-card>
                    </li>
                }
            </ul>
        }

        @for (item of data; track $index) {
            <app-new-order-card [food]="item"></app-new-order-card>
        }
        
    </div>
    <div style="width: 800px; background: red;">
        <p>list ordenes</p>
    </div>
</div>