<style>
    .component{
        background: white;
        width: 100% ;
        display: flex;
        flex-direction: column;
        padding: 7px;
        border-radius: 10px;
    } 
    .img{
        border-radius: 10px;
        height: 150px;
        width: 100%;
        background: gray;
    }
</style>
<div class="component">
    <div class="" style="">
        <div class="img"></div>
    </div>
    <p>{{food.name}}</p>
    <p>{{food.description}}</p>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <p>{{food.price}}</p>
        <button style="background: black; border-radius: 10px;">Order</button>
    </div>
</div>